<head>
  <link rel="stylesheet" href="/style.css">
</head>

<header>
  <nav class="hoofd-nav">
      <!-- <strong class="nav-brand">Matching App</strong> -->
      <a href="/" class="nav-brand">Matching App</a>
      <a href="/studenten" class="nav-link">Studenten</a>
      <a href="/movies" class="nav-link">Films</a>
  </nav>
</header>