body {
  background-color: beige;
  color: darkgreen;
}
main {
  padding: 70px 20px;
}
/* ////////// nav bar partial ///////// */
.hoofd-nav {
/* van https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 20px;
display: flex;
width: 97vw;
position:fixed;
}
.nav-brand {
  color:#262626;
  margin-right: 20px;
  font-size: 1.3rem;
  text-decoration: none;
}
.nav-brand:hover{
  color: #4c0000;
  text-decoration: underline;
}
.nav-link {
  color: #262626;
  text-decoration: none;
  margin-right: 15px;
}
.nav-link:hover {
  color: #4c0000;
  text-decoration: underline;
}

/* ///////// form ///////// */
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
}


/* input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
} */
/* input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
} */
#loginSubmit {
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 14em;
}

#username, #password{
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}


/* ///////// login ///////// */

#loginForm {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 20px auto;
}

.geenAcc {
  background-color: rgb(255, 255, 255);
  color: #262626;
  border: solid 0.5px black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 20px auto;
  width: max-content;
  max-width: 500px;
}.geenAcc a:visited {
  text-decoration: none;
}
